<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<br><br>
<title>عروض المشاريع</title>
<form method="POST" action=""> 

    <div class="list-group" align="right">
   
      <% users.forEach(user => { %>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        
        <h5 class="mb-1"><%= user.name %></h5>
      </div>
      <p class="mb-1"><%= user.email %></p>
      <small class="text-muted"><%= user.field %></small>
    </a>
    <%})%>        


  </div>

  
