<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<br><br>
<title>عروض المشاريع</title>
<form>
    <div class="list-group">
   
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <div class="form-check">
          <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
        </div>
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small>Donec id elit non mi porta.</small>
    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <div class="form-check">
          <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
        </div>
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>


  </div>

  


  <div class="form-group" style="text-align: right;">
    <label >اسم المستخدم</label>
    <select class="form-control" name="userId">
      <% users.forEach(user => { %>
      <option value= <%=user._id %> ><%= user.name %> </option>
      <% })%>
    </select>
    </div>
    <div class="form-group" style="text-align: right;">
      <label >عنوان الإجتماع</label>
      <select class="form-control" name="meetingId">
        <% meetings.forEach(meeting => { %>
        <option value= <%=meeting._id %> ><%= meeting.title %> </option>
        <% })%>
      </select>
      </div>
      <button type="submit" class="btn btn-primary">إضافة</button>
    </form>