<head>
  <style>
    h2{
      font-size: 50px;

    }
  </style>
</head>
<body > 
          <div class="container">
                <br/>
            <div id="h1"class="p-3 mb-2 bg-light text-dark"> اضافة مشروع</div>


<form method="post" action="/projects/create">
  <div class="form-group" dir="rtl" align="right" >
    <label for="name">عنوان المشروع</label>
          <input type="text" class="form-control" name="name" placeholder="عنوان المشروع" >
           </div>
           <div class="form-group" dir="rtl" align="right" >
            <label for="name">وصف المشروع</label>
            <textarea rows="6" cols="60" class="form-control" placeholder="وصف للمشروع" name="description"></textarea>
           </div>     
                <div class="form-group" dir="rtl" align="right" >
                  <label for="name">مجال المشروع</label>

                  <div class="multi_cat_placeholder_thing">
          <input type="checkbox" name="type" value="برمجة تطبيقات الويب" name="project_cat_cat_multi[]"> برمجة تطبيقات الويب<br>
          <input type="checkbox" name="type"value="برمجة تطبيقات الجوال" name="project_cat_cat_multi[]"> برمجة تطبيقات الجوال<br>
          <input type="checkbox" name="type"value="واقع معزز" name="project_cat_cat_multi[]"> واقع معزز<br>    
          <input type="checkbox" name="type"value="واقع افتراضي" name="project_cat_cat_multi[]"> واقع افتراضي<br>  
          <input type="checkbox" name="type"value="علوم البيانات" name="project_cat_cat_multi[]"> علوم البيانات<br> 

      </div>
                </div>
                <div class="form-group" dir="rtl" align="right" >

                  <label for="name"> المهارات المطلوبة</label>
      <input type="text" size="50" class="form-control" name="requiredSkills" placeholder="المهارات المطلوبة" >
                </div>
                <div class="form-group" dir="rtl" align="right" >
                  <label for="name">  ميزانية المشروع</label>
<input type="number" required="" size="50" class="form-control" name="budget" placeholder="الميزانية بالريال السعودي" value="10000">
                </div>
 
 
    <button type="submit" class="btn btn-primary" align="left">إضافة</button>

</form>
</div>   
        </div>

  </div> 
      </div>
          </div>
                  </div>
  </div>

</body>
