<html lang="ar" dir="rtl" >
    <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

   <title>التصنيفات</title>
  
<link rel="alternate" type="application/rss+xml" title="project theme demo » Feed" href="http://sitemile.us/single-sites/project/feed/">
<link rel="alternate" type="application/rss+xml" title="project theme demo » Comments Feed" href="http://sitemile.us/single-sites/project/comments/feed/">
  <script src="http://sitemile.us/single-sites/project/wp-includes/js/wp-emoji-release.min.js?ver=5.4.2" type="text/javascript" defer=""></script>
   <link rel="stylesheet" id="elementor-icons-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.7.0" type="text/css" media="all">
<link rel="stylesheet" id="elementor-common-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/elementor/assets/css/common.min.css?ver=2.9.13" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-library-css" href="http://sitemile.us/single-sites/project/wp-includes/css/dist/block-library/style.min.css?ver=5.4.2" type="text/css" media="all">
<link rel="stylesheet" id="affiliates_css_me-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/ProjectTheme_affiliates/affiliates_plugin.css?ver=20120822" type="text/css" media="all">
<link rel="stylesheet" id="live-chat-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/ProjectTheme_livechat//messages.css?v=123.1&amp;ver=5.4.2" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.2" type="text/css" media="all">
<link rel="stylesheet" id="wp-pagenavi-css" href="http://sitemile.us/single-sites/project/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70" type="text/css" media="all">
<link rel="stylesheet" id="ptheme_style4_1-css" href="http://sitemile.us/single-sites/project/wp-content/themes/ProjectTheme/css/css.css?ver=5.4.2" type="text/css" media="all">
<link rel="stylesheet" id="main-style-css" href="http://sitemile.us/single-sites/project/wp-content/themes/ProjectTheme/style.css?ver=5.4.2" type="text/css" media="all">
<link rel="stylesheet" id="theme-style-custom-css" href="http://sitemile.us/single-sites/project/?custom_style=custom&amp;ver=123" type="text/css" media="all">

<style type="text/css">
body{
    text-align: right;
}
</style>


</head>
   <body class="page-template page-template-project-special-page-template page-template-project-special-page-template-php page page-id-8 logged-in elementor-default"> 
       <div class="page">
               <div class="flex-fill">
                       <div class="header py-3">
               <div id="project-theme-page-template-1">

<div class="page_heading_me pt_template_page_1" id="pt_template_page_1"  style="margin:0px;padding: 0px;">
   <div class="page_heading_me_inner">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="x_templ_1_pt">
       <div class="mm_inn">التصنيفات </div></div>
   </div>
</div>

<div class="container mt-3">
<div class="row">
<div id="content" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
           <div class="card p-3">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

   <div class="card p-4">  
                  <div class="row mb-4">
                      <div class="col-xs-12 col-md-5 col-lg-3 mb-4">
                          <div class="category-box-thing">
                              <h3 class="category-heading">
                                  <a class="category-main-link-list" href="http://sitemile.us/single-sites/project/classification/accounting/">برمجة تطبيقات الويب (0)</a></h3></div></div>
                                  <div class="col-xs-12 col-md-5 col-lg-3 mb-4"
                              ><div class="category-box-thing"><h3 class="category-heading">
                                  <a class="category-main-link-list" href="http://sitemile.us/single-sites/project/classification/house-work/">برمجة تطبيقات الجوال (0)</a></h3></div></div>
                              <div class="col-xs-12 col-md-5 col-lg-3 mb-4"><div class="category-box-thing">
                                  <h3 class="category-heading"><a class="category-main-link-list" href="http://sitemile.us/single-sites/project/classification/mobile-programming/">جميع التصنيفات (0)</a>
                                </h3>
                            </div>
                         </div>
                        </div>
               </div>
               </div>
           </div>
           </div>
<div id="right-sidebar" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
   <ul class="sidebar-ul">
     
                                                              
                    </li><li id="latest-posted-projects-2" class="widget-container latest-posted-projects"><h3 class="widget-title">آخر المشاريع المضافة</h3>
                                                                                   

                                    <div class="post-small no-padds" id="post-80"><div class="row">


                               <div class="featured-two"></div>
               <div class="col-12 col-sm-12 col-md-8">
                    <h2 class="post-title-small"><a href="http://sitemile.us/single-sites/project/projects/uncategorized/i-need-my-app-ios-built/" rel="bookmark" title="Permanent Link to I need my app IOS built">
                       مشروع iOS</a></h2>

                       <p class="mypostedon2">
                       Posted in <br>

                          </p>


                    </div>
                                        <div class="col-12 col-sm-12 col-md-4 text-right">

                                                   <p class="small-post-budget text-right">$1,700</p>

                                        </div>


                                    </div></div> 
                                    <div class="post-small no-padds" id="post-85"><div class="row">
               <div class="col-12 col-sm-12 col-md-8">
                    <h2 class="post-title-small"><a href="http://sitemile.us/single-sites/project/projects/uncategorized/add-my-android-new-version/" rel="bookmark" title="Permanent Link to Add my android new version">
                       Add my android new version</a></h2>

                       <p class="mypostedon2">
                       Posted in <br>

                          </p>


                    </div>
                                        <div class="col-12 col-sm-12 col-md-4 text-right">

                                                   <p class="small-post-budget text-right">$166</p>

                                        </div>


                                    </div></div> 
                                   
                    </li>    </ul>
</div>
</div></div>
</div>
</div> 
</div>
<div id="a11y-speak-polite" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="polite" aria-relevant="additions text" aria-atomic="true"></div><div id="a11y-speak-assertive" class="a11y-speak-region" style="position: absolute;margin: -1px;padding: 0;height: 1px;width: 1px;overflow: hidden;clip: rect(1px, 1px, 1px, 1px);-webkit-clip-path: inset(50%);clip-path: inset(50%);border: 0;word-wrap: normal !important;" aria-live="assertive" aria-relevant="additions text" aria-atomic="true"></div><!----></body></html>