<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
  </head>
  <body>
    <footer class="cs-footer bg-dark ">
        <hr class="hr-light pb-4">
        <p class="font-size-sm text-center mb-4 py-3">
            <a class="nav-link-style nav-link-light" target="_blank" rel="noopener">فريق تعاون 2020</a>
               <span class="text-light opacity-50 mr-1">© كل الحقوق محفوظة</span></p>
      </div>
    </footer>   
  </body>
