

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <base href="/">
    <link rel="stylesheet" media="screen" href="./css/theme.min.css">
  </head>
  <body>
    <footer class="cs-footer bg-dark ">
        <hr class="hr-light pb-4">
        <p class="font-size-sm text-center mb-4 py-3">
            <a class="nav-link-style nav-link-light" style="color:aliceblue" target="_blank" rel="noopener">
              
              <span class="text-light opacity-50 mr-1"> © جميع الحقوق محفوظة</span> فريق تعاون 2020 </a>
             </p>
      </div>
    </footer>   
  </body>

