<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer style="text-align: center;">
	<br/>
  
<div class="container" style="background-color: rgb(238, 238, 238);">
	<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
	<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
	<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a> 
		<p class="copyright-text">جميع الحقوق محفوظة &copy; 2020 
	 <a href="#">فريق تعاون</a>
		</p>
		 
  </div>
</footer>