
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/projects/home">تعاون</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active"><a title="Project Search" href="/projects/search"  class="nav-link">أفكار مشاريع</a></li>
      <li  class="nav-item active"> <a href="/users" class="nav-link">المستخدمين</a></li>
      <li class="nav-item active"><a title="My Account" href="/projects" class="nav-link">المشاريع</a></li>
      <li  class="nav-item active" ><a title="My Account" href="/users/5f563202d326f90fc208351e/profile" class="nav-link">حسابي</a></li>
      <li  class="nav-item active"><a title="My Account" href="/users/5f563202d326f90fc208351e/projects" class="nav-link">مشاريعي</a></li>
      <li  class="nav-item active" ><a title="Post New" href="/projects/new" class="nav-link">إضافة مشروع</a></li>
<% if(currentUser){%>
  <div style="padding-left: 20px;">
    <li class="nav-item active">
<a class="btn btn-outline-success"  href="/users/logout" ><%=currentUser.name%></a>
</li>
  </div>
<%}else{%>

  <li class="nav-item active">
<a class="nav-link" href="/users/signIn">انشاء حساب</a>
  </li>
  <li class="nav-item active">
<a class="nav-link" href="/users/login">تسجيل الدخول</a>
  </li>

<% } %>
    </ul>
  </div>
</nav>
    
    
 