<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8">
    <title>الرئيسية - تعاون</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="منصة تَعَاوُن">
    <meta name="keywords" content="bootstrap, business, consulting, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, multipurpose, product landing, shop, software, ui kit, web studio, landing, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <!-- Page loading styles-->
    <style>
      .cs-page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .cs-page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .cs-page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .cs-page-loading.active > .cs-page-loading-inner {
        opacity: 1;
      }
      .cs-page-loading-inner > span {
        display: block;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #737491;
      }
      .cs-page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #766df4;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
    </style>
    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          var preloader = document.querySelector('.cs-page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 2000);
        };
      })();
      
    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css">
  </head>
  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="cs-page-loading active">
      <div class="cs-page-loading-inner">
        <div class="cs-page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <main class="cs-page-wrapper">

      <!-- Navbar (Solid background)-->
          <!-- Page content-->
      <!-- Hero with parallax effect-->
      <section class="position-relative">
        <div class="bg-overlay bg-primary opacity-65"></div>
        <div class="bg-overlay-content container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-7 order-md-2 overflow-hidden">
              <div class="cs-parallax mr-n7 mr-md-0" style="max-width: 1030px;"><img class="d-block" src="img/demo/marketing-seo/hero/lines.png" alt="Lines"/>
                <div class="cs-parallax-layer" style="z-index: 2;" data-depth="0.13"><img src="img/demo/marketing-seo/hero/image.png" alt="Image"/>
                </div>
                <div class="cs-parallax-layer" style="z-index: 3;" data-depth="0.25"><img src="img/demo/marketing-seo/hero/shape-1.png" alt="Badge"/>
                </div>
                <div class="cs-parallax-layer" data-depth="0.2"><img src="img/demo/marketing-seo/hero/shape-2.png" alt="Shape"/>
                </div>
                <div class="cs-parallax-layer" style="z-index: 3;" data-depth="0.5"><img src="img/demo/marketing-seo/hero/shape-3.png" alt="Badge"/>
                </div>
                <div class="cs-parallax-layer" style="z-index: 3;" data-depth="0.45"><img src="img/demo/marketing-seo/hero/shape-4.png" alt="Badge"/>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 pt-4 pb-5 py-md-5">
              <div class="mx-auto mr-lg-4 pl-xl-3 order-md-1 text-center text-md-center" style="max-width: 420px;">
                <h1 class="text-light mb-3"><b>منصة تَعَاوُن</b></h1>
                <p class="text-light font-size-lg"> هي منصة تصل أصحاب الشركات ورواد الأعمال بالمبرمجين وطلاب السنة الأخيرة -وفق شروط معينة- لتنفيذ مشروع التخرج</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Services-->
      <section class="bg-position-left-bottom bg-no-repeat" style="background-image: url(img/demo/marketing-seo/services/bg-shape.svg);">
        <br/>  <br/>  <br/>
            <h2 class="mb-30", style="text-align: center;">خطوات سير العمل</h2> 
            <br/><br/><br/>
        <div class="row align-items-center">
                <div class="col-sm-4">
                  <div class="bg-light box-shadow-lg rounded-lg p-4 mb-grid-gutter text-center text-sm-right">
                    <h1 class="h5 mb-2"></h3>
                    <h3 class="h5 mb-2">١. إنشاء حساب</h3>
                    <p class="font-size-sm">بعد إنشاء حساب في نظام تعاون يمكنك تسجيل الدخول عن طريق اسم المستخدم وكلمة المرور</p>
                  </div>
                </div>
                  
                    <div class="col-sm-4">
                      <div class="bg-light box-shadow-lg rounded-lg p-4 mb-grid-gutter text-center text-sm-right">
                        <h1 class="h5 mb-2"></h3>
                        <h3 class="h5 mb-2">٢. إضافة فكرة مشروع</h3>
                        <p class="font-size-sm">نشر المشروع عن طريق تعبئة القالب المطلوب بعد نشر مشروعك ستستلم طلبات طلاب الجامعة لتنفيذ المشروع</p>
                      </div>
                    </div>

                  <div class="col-sm-4">
                      <div class="bg-light box-shadow-lg rounded-lg p-4 mb-grid-gutter text-center text-sm-right">
                        <h1 class="h5 mb-2"></h3>
                        <h3 class="h5 mb-2">٣. اختيار المجموعة المناسبة</h3>
                        <p class="font-size-sm">بعد اختيار المجموعة المناسبة يبدأ تنفيذ المشروع سيتم جدولة اجتماعات دورية مع مشرف المشروع من الجامعة</p>
                      </div>
                    </div>
          </div>  </div>
        
      </section>
      <!-- Case Studies-->
      <section class="pb-5 mb-md-2" id="card-horizontal" style="background-image: url(img/demo/marketing-seo/hero/shape-1.png);">
        <div class="container py-2">
          <h2 class="text-center">المشاريع المضافة</h2>
          <% projects.forEach(project => {    %>
          <br/>  <br/>
            <div class="card border-0 box-shadow-lg " style="align-items: center;">
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="result6" role="tabpanel">
                    <div class="card card-horizontal">
                      <div class="card-body">
                        <h5 class="card-title"><%= project.title %></h5>
                        <p class="card-text font-size-sm"> <%= project.description %></p>
                        <p class="card-text font-size-sm">أنشئ بواسطة:  <%= project.userId.name %> </p>
                        <p class="btn btn-sm btn-primary"><%= project.budget %> ريال سعودي </p>  
                        <br/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%})%>   
          </section>
      
          <section class="bg-secondary py-5 py-md-6" style="background-image: url(img/demo/marketing-seo/hero/shape-1.png);"></section>
 \
              <h2 class="text-center">الداعمين للمنصة</h2>
              
              <div class="row">
                <div class="col-lg-6 col-sm-8 mb-grid-gutter"><a class="card card-hover border-0 box-shadow mx-auto" href="#" style="max-width: 400px;"><img class="card-img-top" src="img/demo/marketing-seo/about-img/Saudi.png" alt="SAFCSP"/>
                    <div class="card-body">
                      <br/>
                      <h5 class="h5 mb-0" style="text-align: center;">الاتحاد السعودي للأمن السيبراني والبرمجة</h5>
                    </div></a></div>
                <div class="col-lg-4 col-sm-6 mb-grid-gutter"><a class="card card-hover border-0 box-shadow mx-auto" href="#" style="max-width: 400px;"><img class="card-img-top" src="img/demo/marketing-seo/about-img/PNU_logo.png" alt="PNU"/>
                    <div class="card-body">
                      <br/>
                      <h5 class="h5 mb-0" style="text-align: center;">جامعة الأميرة نورة بنت عبدالرحمن</h5>
                    </div></a></div>
              </div>
          </section>
     
    
      
    </main>
   
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon fe-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="vendor/lg-video.js/dist/lg-video.min.js"></script>
    <script src="vendor/parallax-js/dist/parallax.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
  </body>
</html>