<br><br>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">اسم المشرف</label>
        <input type="name" class="form-control" id="inputName" placeholder="اسم المشرف">
      </div>
      <label for="inputEmail4">البريد الإلكتروني</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="البريد الإلكتروني">
    </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputGroupN">عدد أعضاء المجموعة</label>
        <select id="inputGroupN" class="form-control">
          <option selected>اختر...</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">اسم الطالب 1</label>
            <input type="name" class="form-control" id="inputName" placeholder="اسم الطالب">
          </div>
          <label for="inputEmail4">البريد الإلكتروني</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="البريد الإلكتروني">
        </div>
        </div>

     
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>