<html lang="ar" dir='rtl'> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container py-5">  
    <div class="card">  
        <div class="card-header bg-primary text-white">  
            <h4 class="text-uppercase text-center">ادخل بيانات المستخدم</h4>  
        </div>  
        <div class="card-body">  
            <form method="POST" action="/users/add">  
                <div class="form-row">  
                    <div class="col-md-12" style="text-align: right;">  
                        <label >اسم المستخدم</label>  
                        <input type="text" name="name" placeholder="اسم المستخدم" class="form-control" />  
                    </div>  
                 
                </div>  
               
                <div class="form-row">  
                    <div class="col-md-12" style="text-align: right;">  
                        <label style="text-align: right;">البريد الإلكتروني</label>  
                        <input type="email" name="email" class="form-control" placeholder="البريد الإلكتروني" />  
                    </div>  
                   
                </div>  
                <div class="form-row">  
                    <div class="col-md-12" style="text-align: right;">  
                        <label>كلمة المرور</label>  
                        <input type="password" name="password" class="form-control" placeholder="كلمة المرور" />  
                    </div>  
                   
                </div>  
                <div class="form-row">  
                    <div class="col-md-12" style="text-align: right;">  
                        <label>الجنس</label>  
                        <input type="text" name="gender" class="form-control" placeholder="الجنس" />  
                    </div>  
                </div>  
                <div class="form-row">  
                    <div class="col-md-12" style="text-align: right;">  
                        <label>نبذة</label>  
                        <textarea type="text" name="bio" class="form-control" placeholder="نبذة" rows="4">
                        </textarea>

                    </div>  
                </div>  

                <div style="margin-top:15px;text-align: right;" >  
                    <button type="submit" class="btn btn-primary rounded-0">حفظ</button>  
                </div>  
            </form>  
        </div>  
    </div>  
</div>  
</html>