<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
  #h1{
font-size:30px; 

 padding:10px;
 text-align: center;
}

</style>
<div class="container"> 
  <hr/>
    <%  if (flashMessages.loginerror){ %>
                <div class="alert alert-danger"> <%= flashMessages.loginerror %> </div>    
                <% } %>
     
      <div id="h1"class="p-3 mb-2 bg-light text-dark">تسجيل الدخول</div>
      <form method="POST" action="/users/login">
         
            <div class="form-group" dir="rtl" align="right" >
              <label for="email">البريد الإلكتروني</label>
              <input type="email" class="form-control" name="email"  placeholder="البريد الإلكتروني" >
            </div>
            <div class="form-group" dir="rtl" align="right" dir="rtl"  >
                <label for="exampleInputPassword1">كلمة المرور</label>
                <input type="password" class="form-control" name="password" placeholder="كلمة المرور">
              </div>
              <button type="submit" class="btn btn-primary">إنشاء حساب</button>

            </form>



</div>