
<div class="container"> 
  <hr/>
    <%  if (flashMessages.loginerror){ %>
                <div class="alert alert-danger"> <%= flashMessages.loginerror %> </div>    
                <% } %>
     

<div class="container"> 
  <hr/>
    <%  if (flashMessages.loginerror){ %>
                <div class="alert alert-danger"> <%= flashMessages.loginerror %> </div>    
                <% } %>
     
      <div id="h1"class="p-3 mb-2 bg-light text-dark">تسجيل الدخول</div>
      <form method="POST" action="/users/login">
         
            <div class="form-group" dir="rtl" align="right" >
              <label for="email">البريد الإلكتروني</label>
              <input type="email" class="form-control" name="email"  placeholder="البريد الإلكتروني" >
            </div>
            <div class="form-group" dir="rtl" align="right" dir="rtl"  >
                <label for="exampleInputPassword1">كلمة المرور</label>
                <input type="password" class="form-control" name="password" placeholder="كلمة المرور">
                <div class="form-group" dir="rtl" align="center" dir="rtl"  >
              <button type="submit" class="btn btn-info">تسجيل الدخول</button>
  </div>
            </form>



</div>

</div>