
<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 style="color:red">
                    معلومات تسجيل الدخول غير صحيحة</h1>
              
                <div class="error-details">
                    المستخدم غير موجود
                </div>
                <br/>                <br/>

                <div class="error-actions">
                    <a href="/users/login" class="btn btn-info">
                      العودة الى صفحة تسجيل الدخول </a>
                </div>
            </div>
        </div>
    </div>
</div>
