<head>
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
<link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">

<style>
  #h1{
font-size:30px; 

 padding:10px;
 text-align: center;
}

</style>
</head>
<body>
  


<div class="container"> 
  <br/>
  <div id="h1"class="p-3 mb-2 bg-light text-dark">إنشاء حساب</div>
  <br/>

<form method="POST" action="/users/insert">
    <div class="form-group" dir="rtl" align="right" >
      <label for="name">اسم المستخدم</label>
      <input type="text" class="form-control" name="name" placeholder="اسم المستخدم" aria-describedby="emailHelp">
      </div>
    
    <div class="form-group" dir="rtl" align="right" >
      <label for="email">البريد الإلكتروني</label>
      <input type="email" class="form-control" name="email"  placeholder="البريد الإلكتروني" >
    </div>

    <div class="form-group" dir="rtl" align="right" dir="rtl" align="right" >
        <label for="exampleInputPassword1">كلمة المرور</label>
        <input type="password" class="form-control" name="password" placeholder="كلمة المرور">
      </div>
      <div class="form-group" dir="rtl" align="right" dir="rtl" align="right" >
      <label for="field" align="right" >المجال</label>
      <select name="field" style=" width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      font-size: 21px;
      font-style:bold;" >
     <option value="تقنية">
      تقنية</option>
      </select>
    </div>
    <div class="form-group" dir="rtl" align="right" dir="rtl" align="right" >

          <legend class="col-form-label col-sm-2 pt-0">نوع المستخدم</legend>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
              <label class="form-check-label" for="gridRadios1">&nbsp; &nbsp; طالب</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">&nbsp; &nbsp; مستثمر </label>
            </div>
        </div>

      <div class="row"  dir="rtl" align="right" dir="rtl" align="right" >
        <label for="bio">نبذة</label>
        <input class="form-control" type="text" name="bio" rows="4" placeholder="نبذة">
      </div>
      <br></br>
      <div class="form-group" dir="rtl" align="center" dir="rtl"  >
        <button type="submit" class="btn btn-info">إنشاء حساب</button>

        <br></br>
    
        لديك حساب؟ <a href="/users/login" class="link-man-1">تسجيل الدخول</a>	</div>
   
  </div> </form>
</body>